* {
    box-sizing: border-box;
  }

#nav 
{
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    background-color: #FECDC9;
    width: 100%;
    top: 0; padding: 0; margin: 0;
}
  
.links 
{
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-decoration: none;
    float: right;
    display: inline;
    color: #ff8080 ;
    padding: 1% 3%;
    font-size: 100%;
}
  
.links:hover 
{
    background-color: #ff8080;
    color: white;
}

body
{
    overflow: scroll;
    height: auto;
}

.left-column 
{
    position: fixed;
    width: 40%;
    margin-top: 3%;
    height: auto;
    float: left;
    padding: 2%;
}

.phone
{
    text-align: center;
    font-family: 'Playfair Display', serif;
}

@media all and (max-width: 700px) {
    
    .left-column
    {
        visibility: hidden;
        display: none;
    }

    .gallery 
    {
        width: 100%;
        overflow-x: hidden;
    }

    .tiles
    {
        width: 100%;
    }

    h1, h2, h3, h4, p
    {
        width: 100%;
        float: center;
        align-content: center;

    }

    h1
    {   
        margin-left: 0%;
        font-size: 250%;
    }

    h2
    {
        font-size: 200%;
    }

    h3
    {
        font-size: 80%;
    }

    h4
    {
        margin-top: 2%;
        color: white;
        font-size: 150%;

    }

    p
    {
        font-size: 110%;
    }

    iframe
    {
        width: 100%;
        height: 12%;
        margin-left: 0%;
    }

    .phone
    {
        display: block;

    }

    .tile-img
    {
        display: none;
    }

}

@media all and (min-width: 701px) 
{
    iframe
    {
        margin-left: 5%;


    }

    .phone
    {
        display: none;

    }

    .gallery
    {
        width: 59%;

    }

    h1
    {  
        width: 98%;
        font-size: 450%;
    }

    h2
    {
        font-size: 170%;
        width: 98%;
    }

    h3
    {
        font-size: 170%;
        width: 98%;
    }

    h4
    {
        font-size: 300%;

    }

    p
    {
        width: 90%;
        margin-left: 3%;
        font-size: 170%;
        margin-top: 0%;

    }

}

.gallery
{
    display: block;
    float: right;
    margin-top: 3%;
    height: 2000px;
}

.tile
{
    display: block;
    margin-top: 2%;
    width: 98%;
    height: 20%;
    background-color: #ff8080;
}

.tile-img
{
    width: 50%;
    height: 100%;
    float: right;

}

.tile-left
{
    width: 49%;
    height: 100%;
    font-family: 'Helvetica', sans-serif;
    font-size: 50%;
    float: left;

}

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: pink;
    width:100%;
    height:100%;
   
  }
  
  .tile:hover .overlay {
    opacity: .5;
  }

h1
{   
    margin-left: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 98%;
    color: #ff8080;
    font-family: 'Playfair Display', serif;

}

h2
{
    color: #ff8080;
    width: 98%;
    font-family: 'Oswald Medium', sans-serif;
}

h3
{
    color: white    ;
    width: 98%;
    font-family: 'Oswald Medium', sans-serif;
}

h4
{
    margin-top: 2%;
    color: white;
    font-family: 'Oswald Medium', sans-serif;
    margin-left: 2%;

}

p
{
    width: 90%;
    margin-left: 3%;
    font-family: 'Oswald Medium', sans-serif;
    color: white;
    margin-top: 0%;

}




 
      